In [1]:
import pandas as pd
import matplotlib.pyplot as plt

from datetime import datetime

In [2]:
original_data = pd.read_csv('../../Notebooks/Datasets/Economic_dataset/Economic_Events.csv')
original_data

,Date Time,Unnamed: 1,Unnamed: 2,Unnamed: 3,Event
0,01/07/2016 19:01,UK,1),NaN,"Jonathan Hill meets with Jon Cunliffe, Deputy ..."
1,01/08/2016,UK,2),NaN,United Kingdom Sovereign Debt to Be Rated by DBRS
2,01/12/2016 09:15,UK,3),NaN,Mark Carney speaks in Paris
3,01/12/2016 11:00,UK,4),NaN,"Cameron Questioned by Commons Panel on Syria, ..."
4,01/14/2016 05:30,UK,5),NaN,Andrew Bailey Speaks on Green Finance at Mansi...
...,...,...,...,...,...
775,11/30/2021 08:00,UK,776),NaN,BOE's Mann speaks at event with Barclays
776,12/01/2021 09:00,UK,777),NaN,BOE's Bailey speaks on insurance regulation
777,12/03/2021 06:00,UK,778),NaN,BOE's Saunders speaks.
778,12/10/2021,UK,779),NaN,United Kingdom Sovereign Debt to be rated by F...
779,01/28/2022 04:30,UK,780),NaN,Inflation by household income

## Data Wrangling

In [3]:
clean_data = original_data.drop(labels = ['Unnamed: 2', 'Unnamed: 3'], axis = 1)
clean_data

,Date Time,Unnamed: 1,Event
0,01/07/2016 19:01,UK,"Jonathan Hill meets with Jon Cunliffe, Deputy ..."
1,01/08/2016,UK,United Kingdom Sovereign Debt to Be Rated by DBRS
2,01/12/2016 09:15,UK,Mark Carney speaks in Paris
3,01/12/2016 11:00,UK,"Cameron Questioned by Commons Panel on Syria, ..."
4,01/14/2016 05:30,UK,Andrew Bailey Speaks on Green Finance at Mansi...
...,...,...,...
775,11/30/2021 08:00,UK,BOE's Mann speaks at event with Barclays
776,12/01/2021 09:00,UK,BOE's Bailey speaks on insurance regulation
777,12/03/2021 06:00,UK,BOE's Saunders speaks.
778,12/10/2021,UK,United Kingdom Sovereign Debt to be rated by F...
779,01/28/2022 04:30,UK,Inflation by household income

Some formats of Date Time are not correct:

Column Date Time needs to be formatted correctly

Below is converting date times from string to datetime format

In [4]:
count = 0
for i in range(len(clean_data)):
    try:
        clean_data['Date Time'][i] = pd.to_datetime(clean_data['Date Time'][i])
    except ValueError:
        count += 1
print(count)

24

Below are cells which are not formatted properly - mostly indicating when the event finished

In [5]:
clean_data[clean_data['Date Time'].apply(lambda x: isinstance(x, str))]

,Date Time,Unnamed: 1,Event
8,01/25/2016 01/26,UK,Middle East & North Africa Energy Conference H...
67,05/11/2016 05/12,UK,EBRD Annual Meeting
75,05/20/2016 05/21,GE,"G-7 Finance Ministers, Central Bank Governors ..."
103,07/08/2016 07/11,CH,G-20 Trade Ministers Meet in Shanghai
104,07/11/2016 07/17,UK,Farnborough International Airshow Features F-35
125,09/03/2016 09/05,CH,"G-20 Leaders Meet in Hangzhou, China"
152,10/18/2016 10/19,UK,Saudi Oil Minister to Attend Oil & Money Confe...
173,11/17/2016 11/19,GE,"Valls, Sturgeon, Schaeuble at Economic Confere..."
174,11/17/2016 11/18,US,President Obama Meets With Chancellor Merkel a...
195,01/13/2017 01/18,US,"Secretary Kerry Travels to Vietnam, France, U...."
200,01/17/2017 01/19,UK,Secretary Boris Johnson Travels to India
209,02/05/2017 02/06,UK,U.K. Prime Minister May to Meet Israel's Netan...
210,02/06/2017 02/08,UK,U.K. House of Commons Completes Debate on Arti...
261,06/11/2017 06/12,IT,G7 Environment Ministers Meet in Italy
275,07/09/2017 07/10,AU,Prime Minister May Host Prime Minister Turnbull
298,09/28/2017 09/29,UK,"Carney Speaks at BOE Independence Conference, ..."
337,11/14/2017 11/15,UK,European Union Withdrawal Bill Examination Begins
349,12/14/2017 12/16,CH,"China, U.K. Hold Economic and Financial Dialog..."
394,05/02/2018 05/04,EC,"EU, U.K. Negotiators Begin Next Round of Brexi..."
405,05/31/2018 06/02,CA,G-7 Finance Ministers and Central Bankers Meet...
426,07/21/2018 07/22,AR,"G-20 Finance Ministers, Central Bankers Meet i..."
428,07/27/2018 07/29,AR,G-20 Agricultural Ministers Meet in Buenos Aires
514,06/08/2019 06/09,UK,Chancellor Philip Hammond attends G20 Finance ...
537,07/22/2019 07/28,UK,Conservatives to name new Prime Minister after...