In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../../Notebooks/Datasets/Economic_dataset/Government.csv')
df

,Date Time,Unnamed: 1,Unnamed: 2,Unnamed: 3,Event
0,01/02/2000 10:00,UK,1),NaN,Prime Minister's Question Time
1,01/10/2000 09:30,UK,2),NaN,Social Security Secretary Answers Questions in...
2,01/10/2000,UK,3),NaN,Houses of Parliament Resume Sitting
3,01/11/2000 09:30,UK,4),NaN,Transport Secretary Answers Questions in Parli...
4,01/12/2000 10:00,UK,5),NaN,Prime Minister's Question Time
...,...,...,...,...,...
4123,10/03/2021 10/06,UK,4124),NaN,Conservative Party Conference in Manchester
4124,10/27/2021 07:30,UK,4125),NaN,U.K. Budget
4125,11/01/2021 07:00,UK,4126),NaN,U.K. OBR chiefs testify
4126,11/01/2021 11:15,UK,4127),NaN,U.K. Chancellor of the Exchequer Rishi Sunak t...
4127,11/02/2021 11:00,UK,4128),NaN,U.K.'s Sunak testifies on budget