# Shipping Cost

Here we will look at the World Container Index Freight Rate Composite. We have look at the quarterly values 

<i>The World Container Index is an index developed by Drewry, one of the most reputed research, advisory and consulting service providers for the shipping and maritime industry. Drawing upon its expertise and accumulated data, Drewry publishes the WCI, covering the Spot market freight rates on a weekly basis.
The index tracks and publishes on a weekly basis, indexed rates across major head haul corridors and backhaul legs, including Shanghai-Rotterdam, Rotterdam-Shanghai, Shanghai-Genoa, Shanghai-Los Angeles, Los Angeles-Shanghai, Shanghai-New York, New York-Rotterdam, Rotterdam-New York, besides also publishing a composite indexed value.</i>

In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import plotly.express as px

import WranglerFunctions as wf

In [20]:
#Get Data
Freight_csv = pd.read_csv('../Datasets/Shipping_dataset/WCI_Freight_Rate_Composite.csv', index_col = False)

def Shipping_Wrangler(df):
#Carry out wrangling
    Freight_wrangle1 =df.drop(columns=["Unnamed: 1","Unnamed: 2","Unnamed: 3","Unnamed: 4"])
    Freight_wrangle2 = Freight_wrangle1.T
    Freight_wrangle2.columns =[str(Freight_wrangle2[0][0]), str(Freight_wrangle2[1][0])]
    Freight_wrangle2.drop(["Unnamed: 0"], axis=0,inplace=True)
    Freight_wrangle2['Container Rates (USD per FEU) - WCI Freight Rate Composite'] = Freight_wrangle2['Container Rates (USD per FEU) - WCI Freight Rate Composite'].astype(float)
    Freight_wrangle2 = Freight_wrangle2[Freight_wrangle2['Container Rates (USD per FEU) - WCI Freight Rate Composite']!=0]
    #convert quarters to Data Time format
    Freight_wrangle2["Date"] = pd.to_datetime(Freight_wrangle2["Description"].str.replace(r'(\d+) (Q\d)', r'\1-\2'), errors='coerce')
    Freight_wrangle2 = Freight_wrangle2.drop(columns='Description')
    #Reorder columns
    cols = Freight_wrangle2.columns.tolist()
    cols = cols[1:] + cols[0:1] 
    cols
    Freight_wrangle2 = Freight_wrangle2[cols]
    #Reset index
    Freight_wrangle2.set_index(np.arange(1,(len(Freight_wrangle2['Date'])+1)))

    df = Freight_wrangle2
    df.columns = ["Date", "Shipping costs"]
    
    df = df.iloc[::-1]
    df = df.reset_index(drop = True)
    
    return df

Shipping_Wrangler(Freight_csv)

C:\Users\vojno\AppData\Local\Temp\ipykernel_74332\1358593162.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  Freight_wrangle2["Date"] = pd.to_datetime(Freight_wrangle2["Description"].str.replace(r'(\d+) (Q\d)', r'\1-\2'), errors='coerce')

         Date  Shipping costs
0  2011-04-01        998.2346
1  2011-07-01       1030.1412
2  2011-10-01        856.8742
3  2012-01-01       1079.5245
4  2012-04-01       1596.8254
5  2012-07-01       1562.2676
6  2012-10-01       1255.8434
7  2013-01-01       1359.0892
8  2013-04-01       1118.4710
9  2013-07-01       1296.9110
10 2013-10-01       1082.8930
11 2014-01-01       1282.6153
12 2014-04-01       1187.4391
13 2014-07-01       1272.8832
14 2014-10-01       1157.9863
15 2015-01-01       1296.2703
16 2015-04-01        865.2056
17 2015-07-01        866.8378
18 2015-10-01        628.4341
19 2016-01-01        709.4295
20 2016-04-01        699.4838
21 2016-07-01       1010.9387
22 2016-10-01       1145.9778
23 2017-01-01       1314.4065
24 2017-04-01       1148.9137
25 2017-07-01       1129.6113
26 2017-10-01        938.0898
27 2018-01-01       1016.4456
28 2018-04-01        979.2582
29 2018-07-01       1271.3641
30 2018-10-01       1304.6214
31 2019-01-01       1215.6670
32 2019-04-01       1050.9614
33 2019-07-01       1120.0095
34 2019-10-01       1063.7595
35 2020-01-01       1289.7431
36 2020-04-01       1292.0384
37 2020-07-01       1714.9324
38 2020-10-01       2366.0156
39 2021-01-01       3736.4071
40 2021-04-01       4206.3509
41 2021-07-01       6938.7992
42 2021-10-01       6993.0906
43 2022-01-01       6855.7359
44 2022-04-01       6160.1843